.bz-navbar {
  background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.bz-logo {
  color: white;
  user-select: none;
}

.bz-logo:hover {
  color: white;
}

.bz-github {
  color: white;
}

.bz-github:hover {
  color: white;
}

.bz-github::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  height: 1px;
  background-color: currentColor;
  transition: .3s ease-in-out;
  transition-property: right;
}

.bz-footer {
  height: 25px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1e87f0;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}

.bz-author {
  color: white;
}

.bz-author:hover {
  color: white;
}

.bz-section-title {
  display: inline-block;
  padding: 8px;
  background-color: #00002A;
  border: 2px solid #0000AA;
  border-radius: 5px;
  font-family: Minecraftia;
  cursor: pointer;
}

.bz-color-farming {
  color: #FFFF55;
}

.bz-color-mining {
  color: #55FFFF;
}

.bz-color-combat {
  color: #FF5555;
}

.bz-color-woodfish {
  color: #FFAA00;
}

.bz-color-oddities {
  color: #FF55FF;
}

.bz-table {
  font-family: Minecraftia;
}

.bz-item-price {
  color: #FFAA00;
}
