.bz-navbar {
  background: linear-gradient(to left, #28a5f5, #1e87f0);
}

.bz-logo {
  color: white;
  user-select: none;
}

.bz-logo:hover {
  color: white;
}

.bz-github {
  color: white;
}

.bz-github:hover {
  color: white;
}

.bz-github::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  height: 1px;
  background-color: currentColor;
  transition: .3s ease-in-out;
  transition-property: right;
}